extend ./layout.pug
block title
  title="Issue"
block content
  if issue.fields.status.name === 'To Do'
    a(href='/todo')='< Back to assignments'
  if issue.fields.status.name === 'In Progress'
    a(href='/inprog')='< Back to assignments'
  if issue.fields.status.name === 'Done'
    a(href='/done')='< Back to assignments'
  div.issuekey=issue.fields.issuetype.name + ': ' + issue.key
  h2=issue.fields.summary
    span.status(class=issue.fields.status.name)=issue.fields.status.name
  p
    strong='Due date: '
    span=issue.fields.duedate
  p
    strong='Coordinates: '
    span=issue.fields.customfield_10100
  p=issue.fields.description
  p
    strong='Requestor: '
    span=issue.fields.customfield_10025

  if issue.fields.status.name === 'To Do'
    a(href='/issue/' + issue.key + '/transition/21')='Start >'
  if issue.fields.status.name === 'In Progress'
    a(href='/issue/' + issue.key + '/transition/51')='< Move to Todo'
    a(href='/issue/' + issue.key + '/transition/41')='Set Done >'
  if issue.fields.status.name === 'Done'
    a(href='/issue/' + issue.key + '/transition/71')='< Reopen'

  h2='Comments'
  each comment in issue.fields.comment.comments
    p=comment.author.displayName + ' | ' + comment.created + ' | ' + comment.body

  p
    form(action='/issue/' + issue.key + '/comment', method='POST')
      input(type='hidden', name='_csrf', value=csrfToken)
      textarea(name='comment')
      input(type='submit', value='Add comment')
