extends ./layout.pug
block title
  title='Issues'
block content
  h2='Assigned to my team'
  #nav
    ul(class=type)
      li
        a(href='/todo', class='todo')='To Do'
      li
        a(href='/inprog', class='inprog')='In Progress'
      li
        a(href='/done', class='done')='Done'
  ul
    each issue in issues
      li
        a(href='/issue/' + issue.key)
          span.coords=issue.fields.customfield_10100
          span.key=issue.key
          span.date=issue.fields.duedate
          span.title=issue.fields.summary